* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh; 
}

h1 {
  margin: 2rem 0 5rem;
  font-size: 3rem;
}

.gameboard {
  display: flex;
}

.square {
  border: 1px solid black;
}

input[type="submit"] {
  width: 120px;
  height: 150px;
  font-size: 2rem;
  cursor: pointer;
}